<main class="app-main">
  <div class="container">
    <div class="row mb-4">
      <div class="col-12">
        <app-card>
          <section class="card-post horizontal-post">
            <img
              ngSrc="https://picsum.photos/500/300"
              alt="Imagen del post" height="300" width="500">

            <div class="main-content">
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi.</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at beatae culpa debitis dolores esse
                et, expedita fuga illum in laboriosam laborum libero quae quas saepe sint soluta sunt velit. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Et eum illum quas quisquam ullam vero voluptatem
                voluptatibus. Accusamus adipisci dolorum ea, iusto labore magni nam officia quae qui quis voluptatem!
              </p>

              <app-user></app-user>
            </div>
          </section>
        </app-card>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-5">
        <app-card>
          <section class="card-post vertical-post">
            <img
              ngSrc="https://picsum.photos/300"
              alt="Imagen del post" height="300" width="300">

            <div class="main-content">
              <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, quasi.</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid at beatae culpa debitis dolores esse
                et, expedita fuga illum in laboriosam laborum libero quae quas saepe sint soluta sunt velit. Lorem ipsum
                dolor sit amet, consectetur adipisicing elit. Et eum illum quas quisquam ullam vero voluptatem
                voluptatibus. Accusamus adipisci dolorum ea, iusto labore magni nam officia quae qui quis voluptatem!
              </p>

              <app-user></app-user>
            </div>
          </section>
        </app-card>
      </div>

      <div class="col-lg-7">
        <app-card>
          <section class="user-card">
            <img
              ngSrc="https://picsum.photos/300"
              alt="Imagen del post" height="300" width="300">

            <div class="user-content">
              <h3>Eder Marcos</h3>
              <p>Web Developer</p>

              <div class="mb-4">
                <app-stats></app-stats>
              </div>

              <div class="d-grid gap-4">
                <button class="btn btn-outline-secondary">Chat</button>
                <button class="btn btn-primary">Follow</button>
              </div>
            </div>
          </section>
        </app-card>
      </div>
    </div>
  </div>
</main>
